.material-icons {
  color: rgb(2, 90, 10) !important;
}

.MuiTableCell-root {
  color: rgb(2, 90, 10) !important;
}

.MuiInput-underline.Mui-focused:after {
  border-bottom: 2px solid rgb(2, 90, 10);
}
